region = "us-east-1"
cluster_name    = ""
cluster_version = ""

vpc_cidr           = "10.0.0.0/16"
availability_zones = ["us-east-1a", "us-east-1b", "us-east-1c"]

node_instance_types = ["t3.medium"]
node_desired_size   = 2
node_min_size       = 1
node_max_size       = 3

aws_account_id = "" 
iam_role_name  = "LabRole"
